div.banner {
  background-image: url("../img/banner/coffee-791439_1920.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  height: 695px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 1;
}


div.banner .section-row {
  width: 78%;
  margin: 0 auto;
  margin-top: 125px;
}

div.banner .section-row .colum-1 {
  width: 50%;
  height: 500px;
  float: left;
}

div.banner .section-row .colum-1  .colum-content {
  padding: 10px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

div.banner .section-row .colum-1  .colum-content h1 {
  font-size: 2.2em;
  text-align: center;
  margin-top: 25%;
  text-shadow: 4px 3px 1px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  font-family: "Helvetica", sans-serif;
  font-weight: 700;
}

div.banner .section-row .colum-1  .colum-content p {
  text-align: center;
  margin: 25px 10%;
  font-family: "Times New Roman", sans-serif;
  font-size: 1.1em;
}

div.banner .section-row .colum-1 .colum-content a {
  text-decoration: none;
  color: white;
  background-color: rgba(4, 109, 240, 1);
  padding: 9px 36px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-size: 1.1em;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

div.banner .section-row .colum-2 {
  width: 40%;
  height: 500px;
  float: right;
}

div.banner .section-row .colum-2 .img-banner-secondary {
  padding: 10px;
}

div.banner .section-row .colum-2 .img-banner-secondary img {
  box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);
}
