header {
  height: 696px;
}

#header {
  background: rgba(0, 0, 0, .5);
  height: 80px;
  z-index: 2;
  position: relative;
}

#header .soon {
  width: 29%;
  float: left;
}

#header .soon .soon-img {
  padding: 1px;
}

#header .soon .soon-img img {
  width: 262px;
  height: 78px;
}

/* NAVBAR */

#header .navbar {
  width: 70%;
  float: right;
}

#header .navbar ul {
  margin: 0 auto;
  float: right;
}

#header .navbar ul a {
  display: inline-block;
  text-decoration: none;
}


#header .navbar ul a li.nav-item {
  list-style: none;
  padding: 10px 27px;
  margin: 21px 5px;
  color: white;
  text-transform: uppercase;
  font-family: "Mongolian Baiti", sans-serif;
  font-size: 1em;
}

#header .navbar ul a li.nav-item:hover {
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}

#header .navbar ul a li.btn-login {
  background: /*rgba(0, 0, 0, .6)*/ rgba(4, 109, 240, .8);
  padding: 8px 31px;
  margin: 21px 5px;
  color: white;
  list-style: none;
  border-radius: 6px;
  font-family: "Mongolian Baiti", sans-serif;
  text-transform: uppercase;
}
#header .navbar ul a li.btn-login:hover {
  background-color: rgba(4, 109, 240, 1);
}
